@font-face {
  font-family: PelakFA;
  font-style: normal;
  font-weight: 900;
  font-smooth: always;
  src: url('../fonts/pelak/farsiNumeral/eot/PelakFA-Black.eot');
  src: url('../fonts/pelak/farsiNumeral/eot/PelakFA-Black.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('../fonts/pelak/farsiNumeral/woff2/PelakFA-Black.woff2') format('woff2'),
    /* FF39+,Chrome36+, Opera24+ */ url('../fonts/pelak/farsiNumeral/woff/PelakFA-Black.woff') format('woff'); /* FF3.6+, IE9, Chrome6+, Saf5.1+ */
}

@font-face {
  font-family: PelakFA;
  font-style: normal;
  font-weight: bold;
  font-smooth: always;
  src: url('../fonts/pelak/farsiNumeral/eot/PelakFA-Bold.eot');
  src: url('../fonts/pelak/farsiNumeral/eot/PelakFA-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('../fonts/pelak/farsiNumeral/woff2/PelakFA-Bold.woff2') format('woff2'),
    /*FF39+,Chrome36+, Opera24+ */ url('../fonts/pelak/farsiNumeral/woff/PelakFA-Bold.woff') format('woff'); /*FF3.6+, IE9, Chrome6+, Saf5.1+ *!*/
}

@font-face {
  font-family: PelakFA;
  font-style: normal;
  font-weight: 500;
  font-smooth: always;
  src: url('../fonts/pelak/farsiNumeral/eot/PelakFA-Medium.eot');
  src: url('../fonts/pelak/farsiNumeral/eot/PelakFA-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('../fonts/pelak/farsiNumeral/woff2/PelakFA-Medium.woff2') format('woff2'),
    /*FF39+,Chrome36+, Opera24+ */ url('../fonts/pelak/farsiNumeral/woff/PelakFA-Medium.woff') format('woff'); /*FF3.6+, IE9, Chrome6+, Saf5.1+ */
}

@font-face {
  font-family: PelakFA;
  font-style: normal;
  font-weight: 300;
  font-smooth: always;
  src: url('../fonts/pelak/farsiNumeral/eot/PelakFA-Regular.eot');
  src: url('../fonts/pelak/farsiNumeral/eot/PelakFA-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('../fonts/pelak/farsiNumeral/woff2/PelakFA-Regular.woff2') format('woff2'),
    /*FF39+,Chrome36+, Opera24+ */ url('../fonts/pelak/farsiNumeral/woff/PelakFA-Regular.woff') format('woff'); /*FF3.6+, IE9, Chrome6+, Saf5.1+ */
}

@font-face {
  font-family: PelakFA;
  font-style: normal;
  font-weight: 100;
  font-smooth: always;
  src: url('../fonts/pelak/farsiNumeral/eot/PelakFA-Thin.eot');
  src: url('../fonts/pelak/farsiNumeral/eot/PelakFA-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('../fonts/pelak/farsiNumeral/woff2/PelakFA-Thin.woff2') format('woff2'),
    /*FF39+,Chrome36+, Opera24+ */ url('../fonts/pelak/farsiNumeral/woff/PelakFA-Thin.woff') format('woff'); /*FF3.6+, IE9, Chrome6+, Saf5.1+ */
}
